@import url('https://fonts.googleapis.com');
body {
    background-color: #cae7d3;
}
h1, h2 {
  text-align: center; 
  font-family: "Quicksand", sans-serif; 
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px
}
a {
    text-decoration: none;
    margin-right: 10px;
    font-family: "Poppins",sans-serif;
}
.clicker:hover {
    background-color: #808080;
}
.clicker:active {
    background-color: #525252;
}
.clicker {
    display: flex;
    color: red;
    background-color: #ADADAD;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    place-items: center;
    border-radius: 8px;
    margin: auto;
    height: 40px;
    width: 100px;
}
