body {
    background-color: #cae7d3;
}
h1 {
  text-align: center;  
}
h2 {
    text-align: center;
    color: black;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px
}
a {
    text-decoration: none;
    margin-right: 10px;
}
